# Configure PostgreSQL Connection
Set up PostgreSQL magic command (%load_ext sql) and establish database connection using %sql postgresql://username:password@localhost:5432/database_name

In [3]:
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd

In [4]:
# Load the SQL extension
%load_ext sql

# Establish the database connection
%sql postgresql://postgres:Onyeka-5960@localhost:5432/InventoryMangementDB

# Test Database Connection
Verify the connection and list available tables using \dt command

In [6]:
# Test Database Connection
# Verify the connection and list available tables using \dt command


# List all tables in the connected PostgreSQL database
%sql \dt

 * postgresql://postgres:***@localhost:5432/InventoryMangementDB

ImportError: pgspecial not installed

# Query Region Table
Write basic SELECT queries to explore the Region table structure and data

In [ ]:
# Query Region Table

# Write a basic SELECT query to explore the structure of the Region table
%sql SELECT column_name, data_type FROM information_schema.columns WHERE table_name = 'region';

# Write a basic SELECT query to explore the data in the Region table
%sql SELECT * FROM Region;

# Query Geographic Data
Create queries that join Country, State, and City tables to show geographic hierarchies

In [ ]:
# Query Geographic Data

# Write a query to join Country, State, and City tables to show geographic hierarchies
%sql SELECT 
    Country.country_name, 
    State.state_name, 
    City.city_name 
FROM 
    Country 
JOIN 
    State ON Country.country_id = State.country_id 
JOIN 
    City ON State.state_id = City.state_id 
ORDER BY 
    Country.country_name, 
    State.state_name, 
    City.city_name;

# Complex Joins Across Tables
Develop complex queries linking Warehouse locations with their complete geographic information

In [ ]:
# Complex Joins Across Tables

# Write a query to join Warehouse, City, State, Country, and Region tables to show complete geographic information for each warehouse
%sql SELECT 
    Warehouse.warehouse_id,
    Warehouse.warehouse_address,
    City.city_name,
    State.state_name,
    Country.country_name,
    Region.region_name
FROM 
    Warehouse
JOIN 
    City ON Warehouse.city_id = City.city_id
JOIN 
    State ON City.state_id = State.state_id
JOIN 
    Country ON State.country_id = Country.country_id
JOIN 
    Region ON Country.region_id = Region.region_id
ORDER BY 
    Region.region_name,
    Country.country_name,
    State.state_name,
    City.city_name,
    Warehouse.warehouse_id;